
<section class="container">
    <article class="resultados">
        <div class="empresa">
            <h1>EMPRESA MAS VENTAS</h1>
            <p>{{salesMax}}</p>
        </div>
        <div class="mes">
            <h1>MES MAS VENTAS</h1>
           
        </div>
    </article>
    <table class="tabla">
        <thead>
            <tr class="">
                <th class="title-names"> Nombre de la Empresa 
                    <button (click)=" ordenAs(sale)">Ordenar A-Z</button>
                </th>
                <th class="title-finalPrices"> Total de Ventas 
                    <button (click)=" ordenM(sale)">Ordenar </button>
                </th>
                <th class="title-commission"> Comisión </th>
                <th class="title-details"> Detalles </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of salesUnique, index as i ">
                <td>{{sale.nameA}}</td>
                <td>S/ {{sale.finalPrice}}</td>
                <td>S/ {{sale.finalPriceAmount}}</td>
                <td><button type="submit" (click)="agency(sale.nameA)">Detalles</button></td>
            </tr>
            
        </tbody>
    </table>
</section>
