$azul:rgb(150, 133, 180);
$blanco:#ffffff;

.container{
   
    margin-left: 2%;
}

table, th, td{
   
    margin-top: 10%;
    border:1px solid gray;
    border-collapse: collapse;
    
}

td, th {
    padding: 15px;
    text-align: center;
}
th{
   background: #DBD9D9;
}

h1, p {
    text-align: center;
    font-size: 1.77vw;
}

.tabla{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;

}
.resultados{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:5%;
}
.empresa{
   
    width: 650px;
    height: 160px;
    background: #c4bdbd;
    border-radius: 15px;
}
.mes{
    
    width: 650px;
    height: 160px;
    background: #c4bdbd;
    border-radius: 15px;
}

.button-listado{ 
    color: white;
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;

    background-color:$azul;

}
.button-detalles{ 
    
    padding: 5px 10px;
    color: white;
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: top;
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    font-size: 1vw;
    transition: all .5s;
    background-color:$azul;

}