$azul:rgb(150, 133, 180);
$blanco:#ffffff;

.container-detail{
    margin-left: 15%;
    
}

table, th, td{
   
    margin-top: 3%;
    border:1px solid gray;
    border-collapse: collapse;
    
}

td, th {
    padding: 15px;
    text-align: center;
    font-size: 1.3vw;
}
th{
    background: #DBD9D9;
 }

.tabla{
    width: 80%;
   
}
.total{
    margin-left: 65%;
    
}

.button-listado{ 
    color: white;
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    background-color:$azul;

}


